wasm/
.gitmodules
**/target/
**/*.rs.bk
Cargo.lock
*.wasm
*.wat

# Test contracts
swap_router_test/
trader_joe_exploit/

# Local Netlify folder
.netlify

# Ignore API keys and secrets
verify/.env
verify/run_english_contract.sh
*.env
